/* :root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: #ff6a00d4;
    --color-secondary: #6c757d;
    --font-size-base: 16px;
    --font-family-base: 'Arial, sans-serif';
}
  


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: var(--color-black);
}
  
  h1, h2 {
    color: var(--color-black);  
}
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  .home-container {
    padding: 20px;
  }
  
  .home-container input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .restaurant-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .restaurant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .restaurant-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .restaurant-card h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #007bff;
    color: var(--color-primary);

  }
  
  .restaurant-card p {
    margin: 5px 0;
    color: #666;
  }
  















  .restaurant-details {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
  }
  
  .restaurant-details img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .restaurant-details .image-carousel {
    display: flex;
    gap: 10px;
  }
  
  .restaurant-details .image-carousel img {
    max-width: 100px;
    border-radius: 8px;
  }
  
  .restaurant-details h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #007bff;
    color: var(--color-primary);

  }
  
  .restaurant-details p {
    margin: 10px 0;
    color: #666;
    line-height: 1.6;
  }
   */